{{#paper-nav-container class="site-nav-container"}}
  {{#unless media.isJumbo}}
    {{#unless media.isDesktop}}
      {{#paper-sidenav class="side md-sidenav-left md-whiteframe-z2 site-sidenav" locked-open="gt"}}
        {{#paper-toolbar class="side-menu"}}
          {{#paper-item action=(transition-to "index") class="side-logo"}}
            <div class="md-toolbar-tools">
              <img src="assets/logos/logo-straight-white.png" class="side-logo-specs">
            </div>
          {{/paper-item}}
        {{/paper-toolbar}}
        {{#paper-content class="side-content"}}
          {{#paper-list}}
            {{#paper-item action=(transition-to "home") class="side-content-item"}}<strong>Home</strong>{{/paper-item}}
            {{paper-divider}}
            {{#paper-item action=(transition-to "about-us") class="side-content-item"}}<strong>About us</strong>{{/paper-item}}
            {{paper-divider}}
            {{#paper-item class="side-content-item"}}
              <strong>Services</strong>
            {{/paper-item}}
            {{paper-divider}}
              {{#paper-item action=(transition-to "web-design") class="side-content-subitem"}}<strong class="side-content-subitem-text">Web Design</strong>{{/paper-item}}
              {{paper-divider}}
              {{#paper-item action=(transition-to "hosting") class="side-content-subitem"}}<strong class="side-content-subitem-text">Hosting</strong>{{/paper-item}}
              {{paper-divider}}
              {{#paper-item action=(transition-to "graphic-esign") class="side-content-subitem"}}<strong class="side-content-subitem-text">Graphic Design</strong>{{/paper-item}}
              {{paper-divider}}
            {{#paper-item action=(transition-to "contact") class="side-content-item"}}<strong>Contact</strong>{{/paper-item}}
            {{paper-divider}}
          {{/paper-list}}
        {{/paper-content}}
      {{/paper-sidenav}}
    {{/unless}}
  {{/unless}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar class="main-menu"}}
      <div class="md-toolbar-tools">
        {{#unless media.isJumbo}}
          {{#unless media.isDesktop}}
            {{#paper-sidenav-toggle as |toggle|}}
              {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{fa-icon "bars" size="2" class="main-menu-icon"}}{{/paper-button}}
            {{/paper-sidenav-toggle}}
            <div class="main-menu-header-mobile">
              {{#paper-item action=(transition-to "index")}} <img src="assets/logos/logo-straight.png" class="main-menu-header-logo">{{/paper-item}}
            </div>
          {{/unless}}
        {{/unless}}
        {{#unless media.isMobile}}
          {{#unless media.isTablet}}
            <div class="main-menu-header">
              {{#paper-item action=(transition-to "index")}} <img src="assets/logos/logo-straight.png" class="main-menu-header-logo">{{/paper-item}}
            </div>
            <div class="main-menu-items">
              {{#paper-button action=(transition-to "contact") class="main-menu-items-buttons"}}<strong>Contact</strong>{{/paper-button}}
              {{#paper-button action="isClicked" class="main-menu-items-buttons"}}
                <strong class="main-menu-items-buttons-text">Services</strong>
                {{#if subMenu}}
                  <div class="main-menu-items-buttons-fa-asc">
                    {{fa-icon "sort-asc" size="lg"}}
                  </div>
                {{else}}
                  <div class="main-menu-items-buttons-fa-desc">
                    {{fa-icon "sort-desc" size="lg"}}
                  </div>
                {{/if}}
              {{/paper-button}}
              {{#paper-button action=(transition-to "about-us") class="main-menu-items-buttons"}}<strong>About us</strong>{{/paper-button}}
              {{#paper-button action=(transition-to "home") class="main-menu-items-buttons"}}<strong>Home</strong>{{/paper-button}}
            </div>
            {{#if subMenu}}
              {{#ember-tether target='.main-menu'
                              targetAttachment='bottom center'
                              attachment='top center'
                              class='main-menu-submenu'}}
                <div class="main-menu-submenu-content">
                  <!--<div class="main-menu-submenu-content-services">
                    {{#scroll-to href='.about-us-content' duration=500 easing='linear' offset=-75}}
                      <img src="assets/images/applePc.png" class="main-menu-submenu-content-services-pc">
                    {{/scroll-to}}
                    {{#scroll-to href='.services-content' duration=500 easing='linear'offset=-75}}
                      <img src="assets/images/applePc.png" class="main-menu-submenu-content-services-pc">
                    {{/scroll-to}}
                    {{#scroll-to href='.contact-content' duration=500 easing='linear' offset=-75}}
                      <img src="assets/images/applePc.png" class="main-menu-submenu-content-services-pc">
                    {{/scroll-to}}
                  </div>-->
                </div>
              {{/ember-tether}}
            {{/if}}
          {{/unless}}
        {{/unless}}
          <!-- {{#paper-item class="main-social-media-first"}}
            {{fa-icon "facebook-square" size=2
                                        title="EnSync Facebook page"
                                        click=(action "transitionToFacebook")}}
          {{/paper-item}}
          {{#paper-item action=(transition-to "") class="main-social-media"}}
            {{fa-icon "linkedin-square" size=2
                                        title="EnSync LinkedIn page"
                                        click=(action "transitionToLinkedIn")}}
          {{/paper-item}}
          {{#paper-item action=(transition-to "") class="main-social-media"}}
            {{fa-icon "github-square" size=2
                                      title="EnSync Github page"
                                      click=(action "transitionToGithub")}}
          {{/paper-item}}-->
      </div>
    {{/paper-toolbar}}
    {{#paper-content classNames="md-padding main-content"}}
        {{outlet 'home'}}
          {{outlet "about-us"}}
            {{outlet "services"}}
              {{outlet "contact"}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
